@font-face {
  font-family: 'Retro';
  src:url('Alt_Retro_Thin.ttf');
  font-weight:normal;
}

@font-face {
  font-family: 'RetroLight';
  src:url('Alt_Retro_Light.ttf');
  font-weight:normal;
}

@font-face {
  font-family: 'RetroRegular';
  src:url('Alt_Retro_Regular.ttf');
  font-weight:normal;
}

body {
  background:#bbaa99;
}

h1 {
  font-family:'Retro';
  font-weight:bold;
  font-size: 150px;
  color:black;
  margin-bottom:20px;
  margin-top: 2px;
  /*display: block;*/
}

#caption {
  text-align:left;
  background:none;
  padding-left: 10px;
  margin-top:-200px;
}

#main-container {
  height:580px;
  width:100%;
  display:flex;
  justify-content: space-between;
  margin-top:250px;
}

#view {
  height:inherit;
  width:850px;
  background:white;
  margin-top:-140px;
  height:720px;
  overflow: scroll;
}
#caption-text {
  font-family: 'Retro';
  font-weight:lighter;
  font-size:50px;
}

p {
  font-family: 'Rokkitt', serif;
  font-weight:lighter;
  font-size:30px;
}

ul {
  font-size:50px;
  font-weight:100;
  list-style:none;
  font-family: 'Retro';

}

aside {
  display:flex;
  background:white;
  flex-direction:column;
  align-items:flex-end;
  margin-top:-140px;
  padding-top:20px;
  margin-right:auto;
  min-width:500px;


}

div {
  text-align:center;
  font-family:'Retro';
  font-size:100px;
}

#header {
  text-align:left;
  height:500px;
}

#red {
  color:red;
}

#orange{
  color:orange;
}

#blue {
  color:blue;
}

#yellow {
  color:yellow;
}

#green {
  color:green;
}

a {
  text-decoration:none;
  color: #bbaa99
}

a:hover {
  font-weight:normal;
  text-decoration: underline;
  font-family: 'RetroLight';
}

.selected {
  font-weight:normal;
  text-decoration: underline;
  font-family: 'RetroLight';
}

/*#hide {
  display: none;
}*/
