<h3 style = " font-weight:lighter; margin-top:5px; margin-bottom:-30px;
">Marquee</h3>
<p> Marquee is a concert sharing app where users can search the Ticketmaster API for upcoming concerts, form groups with other users, and create shared lists where member can vote on which concerts to attend </p>
<p>Technologies Used:</p>
<ul>
  <li>AngularJS </li>
  <li>Express</li>
  <li>MongoDB/Mongoose</li>
  <li>Node.js</li>
</ul>
<hr>
<h3 style = " font-weight:lighter; margin-top:5px; margin-bottom:-30px;">Randsom</h3>
<p> Randsom is an app that takes a phrase and matches the letters in each word to an image of that letter from the Pinterest API and then scrambles and displays the phrase </p>
<ul>
  <li>AngularJS </li>
  <li>Ruby on Rails</li>
</ul>
<hr>
<h3 style = " font-weight:lighter; margin-top:5px; margin-bottom:-30px;">Rails Recipes</h3>
<p>In Rails Recipes, users can make make a weekly recipe list, where they can view their schedule, add recipes to certain days of the week, and view a shopping list of all the ingredients they need</p>
<ul>
  <li>Ruby on Rails</li>
</ul>
<hr>
<h3 style = " font-weight:lighter; margin-top:5px; margin-bottom:-30px;">Simon</h3>
<p>A sleek look at the classic Simon memory game</p>
<ul>
  <li>Javascript</li>
  <li>jQuery</li>
</ul>
